</div>
.container-fluid
  .col-md-6.container
    %h1.b Myclass
    %h3 A good service management solution.
    %p= link_to 'Lear more', root_path, class: 'btn btn-success btn-lg active'
  .col-md-6
    .embed-responsive.embed-responsive-16by9
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "458", :src => "https://www.youtube.com/embed/I0PCsnHzX2M", :width => "815"}
  .row
  %br
  .text-center
    %h3 Mission: (test)
    %h6 We do the routine while you focus on GROWTH!
    %h6 Keep 100% of your business under control.
    %h6 Built by business owners for business owners
    %h6 Perfect for brick and mortar service rendering businesses.
  .row
  .col-md-4.jumbotron#jumbotronservices.text-center.thumbnail
    %h2 SPA's & saloons
    %p Event enrollments & calendar
    %p= link_to 'Lear more', root_path, class: 'btn btn-success btn-lg active'
  .col-md-4.jumbotron#jumbotronservices.text-center.thumbnail
    %h2 Language courses
    %p Attendances & groups
    %p= link_to 'Lear more', root_path, class: 'btn btn-success btn-lg'
  .col-md-4.jumbotron#jumbotronservices.text-center.thumbnail
    %h2 HR management
    %p Jobs & price list
    %p= link_to 'Lear more', root_path, class: 'btn btn-success btn-lg'
  .row
  %h1.text-center Features
  HR
  CRM & enrollments
  Schedule
  Reports
  Expences
  .row
  %h1.text-center Our clients
  none
  .row
  %h1.text-center Prices
  .row
  .table
    %table.table
      %thead
        %tr
          %th 
          %th Free
          %th Startup
          %th Growing business
          %th Enterprise
      %tbody
        %tr
          %td Offices
          %td 1
          %td 1
          %td 10
          %td 10+
        %tr
          %td Users
          %td -
          %td -
          %td -
          %td -
        %tr
          %td Clients
          %td -
          %td -
          %td -
          %td -
  .row
  %h1.text-center Contacts
  .row
  .panel.panel-default
    .panel-body
      %p MyClass GMBH
