.container
.col-md-3
.col-md-6
  .well
    %h3
      Editing sale
      .pull-right
        = link_to 'All sales', admin_sales_path, class: "btn btn-default"
        = link_to 'Show sale', [:admin, @sale], class: "btn btn-default"
    = render 'form'
    %p
.col-md-3