.nested-fields.form-inline.clearfix
  .col-sm-7
    /= f.select :guest_id, Guest.all.map{|c| [c, c.id]}, {},class: 'selectize'
    = f.select :guest_id, @event.event_group.guests.map{|c| [c, c.id]}, {},class: 'selectize'
  .col-sm-5
    = f.association :attendance_rate, label: false
    .pull-right
      = link_to_remove_association "Del attendance", f, class: "form-button btn btn-warning"