.container
  %p
    %strong Attendance types
  %p
    %u First lesson in the period for the student
  %table#table1{:width => "602"}
    %tbody
      %tr
        %td{:width => "214"}
          %p
            %u Explanation
        %td{:width => "129"}
          %p
            %u Code description
        %td{:width => "53"}
          %p
            %u Code
        %td{:width => "45"}
          %p
            %u Rate
        %td{:width => "161"}
          %p
            %u Client explain
      %tr
        %td{:width => "214"}
          %p If a student is expected to come for the first time
        %td{:width => "129"}
          %p Expected-0
        %td{:width => "53"}
          %p
            %strong E0
        %td{:width => "45"}
          %p
            %u 0
        %td{:width => "161"}
          %p
            %u Your first lesson! Welcome!
      %tr
        %td{:width => "214"}
          %p If he came for the first time (in a period) and prepaid
        %td{:width => "129"}
          %p Expected Attended-1
        %td{:width => "53"}
          %p
            %strong EA1
        %td{:width => "45"}
          %p
            %u 1
        %td{:width => "161"}
          %p
            %u Your first official lesson in this period
      %tr
        %td{:width => "214"}
          %p If he came and decided not to continue, did not pay
        %td{:width => "129"}
          %p Expected Not Attended-0
        %td{:width => "53"}
          %p
            %strong ENA0
        %td{:width => "45"}
          %p
            %u 0
        %td{:width => "161"}
          %p
            %u You did not attend the first lesson
  %p
    %u General attendance
  %table#table1{:width => "602"}
    %tbody
      %tr
        %td{:width => "247"}
          %p First all attendances are normal. he pays full price
        %td{:width => "100"}
          %p Attended-1
        %td{:width => "43"}
          %p
            %strong A1
        %td{:width => "22"}
          %p
            %strong 1
        %td{:width => "190"}
          %p
            %u You attended the lesson
      %tr
        %td{:width => "247"}
          %p If a person does not attend, he pays full price
        %td{:width => "100"}
          %p Not Attended-1
        %td{:width => "43"}
          %p
            %strong NA1
        %td{:width => "22"}
          %p
            %strong 1
        %td{:width => "190"}
          %p
            %u Prepaid lesson that you did not attend
  %p
    %strong If
    a person wants to pay per attendance, change
  %table#table1{:width => "602"}
    %tbody
      %tr
        %td{:width => "171"}
          %p &ldquo;Attended-1&rdquo; =&gt; &ldquo;Attended-1,3&rdquo;
        %td{:width => "96"}
          %p Attended-1,3
        %td{:width => "45"}
          %p
            %strong A13,
        %td{:width => "34"}
          %p
            %strong 1,3
        %td{:width => "256"}
          %p
            %u Payment per lesson = 30% more. Why? We can not plan for you
      %tr
        %td{:width => "171"}
          %p &ldquo;Not Attended-1&rdquo; =&gt; &ldquo;Not Attended-0&rdquo;
        %td{:width => "96"}
          %p Not Attended-0
        %td{:width => "45"}
          %p
            %strong NA0
        %td{:width => "34"}
          %p
            %strong 0
        %td{:width => "256"}
          %p
            %u Payment per lesson. You pay only for the lessons you attended
  %p
    %u Special cases
  %table#table1{:width => "602"}
    %tbody
      %tr
        %td{:width => "207"}
          %p Expected Not Attended Paid
          %p (individuals for example)
        %td{:width => "90"}
          %p Attended-1
        %td{:width => "56"}
          %p
            %strong ENA1
        %td{:width => "250"}
          %p
            %u Your teacher was waiting for you...
  %p
    %strong
      %u QUESTION: Add EA13???
  %p
    %strong Why 1,3?
  %p Presumption: 6 lessons must cost as 8 lessons.
  %p 6*x=8*28,75=230
  %p X=38,3
  %p 38,3/28,75=1,333
  %p 8 lessons must cost as 10
  %p 12?
  %p Example
  %table#table1{:width => "602"}
    %tbody
      %tr
        %td{:width => "93"}
        %td{:width => "53"}
          %p L1
        %td{:width => "51"}
          %p L2
        %td{:width => "141"}
          %p L3
        %td{:width => "65"}
          %p L4
        %td{:width => "54"}
          %p L5
        %td{:width => "51"}
          %p L6
        %td{:width => "41"}
          %p L7
        %td{:width => "51"}
          %p L8
      %tr
        %td{:width => "93"}
          %p Student1
          %p normal
        %td{:width => "53"}
          %p EA1
        %td{:width => "51"}
          %p A1
        %td{:width => "141"}
          %p A1
        %td{:width => "65"}
          %p NA1
        %td{:width => "54"}
          %p NA1
        %td{:width => "51"}
          %p A1
        %td{:width => "41"}
          %p A1
        %td{:width => "51"}
          %p A1
      %tr
        %td{:width => "93"}
          %p Student2
          %p per visit
        %td{:width => "53"}
          %p ???
        %td{:width => "51"}
          %p A13
        %td{:width => "141"}
          %p A0
        %td{:width => "65"}
          %p A13
        %td{:width => "54"}
          %p A0
        %td{:width => "51"}
          %p A13
        %td{:width => "41"}
          %p A0
        %td{:width => "51"}
          %p A13
      %tr
        %td{:width => "93"}
          %p Student3
          %p start late
        %td{:width => "53"}
          %p ??
        %td{:width => "51"}
          %p ??
        %td{:width => "141"}
          %p EA1
        %td{:width => "65"}
          %p A1
        %td{:width => "54"}
          %p NA1
        %td{:width => "51"}
          %p A1
        %td{:width => "41"}
          %p A1
        %td{:width => "51"}
          %p A1
      %tr
        %td{:width => "93"}
        %td{:width => "53"}
          %p 0
        %td{:width => "51"}
          %p 0
        %td{:width => "141"}
          %p 230/8=28,75*6
        %td{:width => "65"}
          %p 172,5
        %td{:width => "54"}
          %p 230
        %td{:width => "51"}
        %td{:width => "41"}
        %td{:width => "51"}