.container
.col-md-3
.col-md-6
  .well
    %h3
      Editing service type
      .pull-right
        = link_to 'All service types', admin_service_names_path, class: "btn btn-default"
    = render 'form'
    %p
.col-md-3