%h1
  Editing event group
  .pull-right
    = link_to 'View group', [:user, @event_group], class: "btn btn-default"
    = link_to 'All groups', user_event_groups_path, class: "btn btn-default"

= render 'form'
%p
