.container
.col-md-3
.col-md-6
  .well
    %h3
      Editing office
      .pull-right
        = link_to 'Show office', [:admin, @office], class: "btn btn-default"
        = link_to 'All offices', admin_offices_path, class: "btn btn-default"
    = render 'form'
    %p
.col-md-3