.nested-fields.form-inline.clearfix
  .col-sm-7
    = f.select :guest_id, Guest.all.map{|c| [c, c.id]}, {},class: 'selectize'
    /= f.select :guest_id, Guest.where(id: [1, 3]).map{|c| [c, c.id]}, {},class: 'selectize'
    /= f.association :guest
    ///////= f.input :event_group_id, collection: @services, as: :grouped_select, group_method: :event_groups
    /= f.input :guest_id, collection: @event_groups, as: :grouped_select, group_method: :guests
    /= f.input :room_id, collection: @offices, as: :grouped_select, group_method: :rooms

  .col-sm-5
    = f.association :attendance_rate, label: false
    .pull-right
      = link_to_remove_association "Del attendance", f, class: "form-button btn btn-warning"