/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require selectize
 *= require selectize.default
 *= require morris
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#table1 {
  @extend .table, .table-hover, .table-condensed, .table-responsive, .table-bordered
}

.btn1search {@extend .btn, .btn-success, .glyphicon, .glyphicon-search}
.btn2edit {@extend .btn, .btn-warning, .glyphicon, .glyphicon-pencil}
.btn3del {@extend .btn, .btn-danger, .glyphicon, .glyphicon-trash}

.navbar-fixed-top {
  border: 0;
}

#navbardemo {
  background: rgba(0,0,0,0.76);
  color: white;
}
#navbardemo .navbar-nav > li#uno > a:hover, .navbar-default .navbar-nav > li#uno > a:focus {
    background-color: white;
    color: black;
}
.navbar .nav > li#uno > a {
    color:  white;
}
#whitelink {
  color: white;
}


#jumbotronhead {
	color: black;
	background-color: rgb(234, 234, 234);
}

#jumbotronservices {
  color: black;
  background-color: rgb(234, 234, 234);
}

body {
  background-color: rgb(247, 247, 247);
}

body { padding-top: 50px; }


@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block;
  }
}

.well{
background-color: white;
}

.well{
background-color: white;
}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}