.container
.col-md-3
.col-md-6
  .well
    %h3
      Editing enrollment
      .pull-right
        = link_to 'All enrollments', admin_enrollments_path, class: "btn btn-default"
        = link_to 'Show enrollment', [:admin, @enrollment], class: "btn btn-default"
    = render 'form'
    %p
.col-md-3